# /config/addons/makemkv_builder/config.yaml
name: "MakeMKV Ultimate (Builder) by matsob0123"
version: "2.1"
slug: "makemkv_jlesage_ultimate_builder"
description: "All features of jlesage/docker-makemkv exposed to Home Assistant (builds locally)."
url: "https://github.com/jlesage/docker-makemkv"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
map:
  - share:rw
  - ssl:rw
  - config:rw
ports:
  5800/tcp: 5800
  5900/tcp: 5900
devices:
  - /dev/dri:/dev/dri:rwm
  - /dev/sg*:/dev/sg*:rwm
  - /dev/sr*:/dev/sr*:rwm

# USUNIĘTO LINIĘ 'image: "jlesage/makemkv"' STĄD!

# Opcje konfiguracyjne dostępne dla użytkownika w interfejsie HA
options:
  # Ustawienia podstawowe
  USER_ID: "1000"
  GROUP_ID: "1000"
  UMASK: "0022"
  TZ: "Etc/UTC"

  # Automatyczny ripper
  AUTO_DISC_RIPPER: false
  AUTO_DISC_RIPPER_EJECT: false
  AUTO_DISC_RIPPER_PARALLEL_RIP: false
  AUTO_DISC_RIPPER_INTERVAL: 5
  AUTO_DISC_RIPPER_MIN_TITLE_LENGTH: 0
  AUTO_DISC_RIPPER_BD_MODE: "mkv"
  AUTO_DISC_RIPPER_DVD_MODE: "mkv"
  
  # Klucz MakeMKV
  MAKEMKV_KEY: "BETA"

  # Ustawienia interfejsu i bezpieczeństwa
  DARK_MODE: false
  SECURE_CONNECTION: false
  VNC_PASSWORD: ""
  WEB_AUTHENTICATION: false
  WEB_AUTHENTICATION_USERNAME: ""
  WEB_AUTHENTICATION_PASSWORD: ""

  # Funkcje dodatkowe
  WEB_AUDIO: false
  WEB_FILE_MANAGER: true
  ENABLE_CJK_FONT: false

schema:
  # Definicja typów i opisów dla opcji
  USER_ID: str
  GROUP_ID: str
  UMASK: str
  TZ: str

  AUTO_DISC_RIPPER: bool
  AUTO_DISC_RIPPER_EJECT: bool
  AUTO_DISC_RIPPER_PARALLEL_RIP: bool
  AUTO_DISC_RIPPER_INTERVAL: int
  AUTO_DISC_RIPPER_MIN_TITLE_LENGTH: int
  AUTO_DISC_RIPPER_BD_MODE: list(mkv|backup)
  AUTO_DISC_RIPPER_DVD_MODE: list(mkv|backup)
  
  MAKEMKV_KEY: str

  DARK_MODE: bool
  SECURE_CONNECTION: bool
  VNC_PASSWORD: password
  WEB_AUTHENTICATION: bool
  WEB_AUTHENTICATION_USERNAME: str
  WEB_AUTHENTICATION_PASSWORD: password

  WEB_AUDIO: bool
  WEB_FILE_MANAGER: bool
  ENABLE_CJK_FONT: bool